* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: system-ui;
}

.meme-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.meme-container li {
    border: 1px solid black;
    background-color: rgb(255, 254, 216);
    padding: 20px;
    width: 370px;
    height: 370px;
    overflow: scroll;
}

figure {
    margin: 0;
}

figcaption {
    margin-top: 4px;
}

li img {
    object-fit: cover;
    width: 100%;
    height: 290px;
    margin: 0 auto;
}